

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}
.item {
  display: inline;
  border: 2px solid grey;
}
p {
font-family: 'Varela Round', sans-serif;
}
p.caps {
    text-transform:capitalize;
    font-weight:400;
    font-size: 16pt;
    margin-top: 0;
    margin-bottom: 0;
}
p.location{
  text-transform: capitalize;
  padding-top: 0;
}
ul {
  display: inline;
}

h1 {
  font: 20px helvetica, sans-serif;
  color: rgba(60, 68, 78, 0.84);
}
/*li.pic{
list-style-type: none;
border: 2px solid grey;
border-radius: 10px;
}
*/

li.pic {
  display: inline;
  padding: 0;

}
li {
  list-style-type: none;
}
p {
  padding-top: 0;
}
img {
  border-radius: 50%;
float: left;
  padding-left: 10px;
  padding-right: 15px;
  display: inline;
}



#photos{
  display:inline;
}

#photos image {
  border-radius: 50%;
  max-width: 80%;
  max-height: 200px;
  vertical-align: baseline;
}


/*
@media only screen and (min-width: 768px) {
#photos {
  display: inline;

}
  img {
    padding: 20px;
  }
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  ul {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 400px;
  }

  #user {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}


li.pic {
  display: flex;

justify-content: space-between;

}
}
